/* Reseta o padding e o margin para html e body */
html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
    font-size: 16px; /* Define a base para rem (1rem = 16px) */
}

/* Estilo para a página de cadastro */
body.cadCliente {
    margin: 0;
    margin-top: 3rem;
    background-image: url('../imagens/bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    min-height: 100vh; 
    overflow: hidden; /* Remove a rolagem */
}

/* Estilo para a página de login */
body.login_bg {
    margin: 0;
    background-image: url('../imagens/bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    min-height: 100vh; 
}

.cadastro-sucesso .btn-custom-primary {
    background-color: #28a745;
    color: #ffffff;
    border-radius: 1.25rem;
    width: 11.25rem;
    display: inline-block;
    margin: 0 auto;
    padding: 0.625rem 1.25rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cadastro-sucesso .container-form {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

.cadastro-sucesso .btn-custom-primary:hover {
    background-color: #fff;
    color: #28a745;
}

/* Estilo para campos obrigatórios no formulário de cadastro */
.required:after {
    content: " *";
    color: red;
}

/* Estilo geral para grupos de formulário */
.form-group {
    color: #333333;
}

/* Estilo para o título do login */
.login-title {
    margin-bottom: 2rem;
    text-align: center;
}

/* Estilo para o logo no título do login */
.login-title .logo {
    width: 100%;
    max-width: 40rem; /* Aumente a largura máxima da logo */
    height: auto; /* Mantém a proporção */
    margin-bottom: 4rem;
}

/* Estilo para o logo na página de cadastro */
.cadastro-page .logo {
    width: 100%;
    max-width: 40rem; /* Aumente a largura máxima da logo */
    height: auto; /* Mantém a proporção */
    margin-bottom: 1rem; 
}


/* Ajusta o topo do título na página de cadastro */
.cadastro-page h1 {
    margin-top: 0; 
}

/* Estilo para o título do login */
.login-title h1 {
    color: #ffffff;
    font-weight: 700;
}

/* Estilo para o formulário de login */
.container-form-login {
    max-width: 25rem; /* Aumentei a largura máxima no desktop */
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

/* Estilo para o formulário de cadastro */
.container-form {
    max-width: 40rem; /* Aproximadamente 640px */
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

/* Estilo para os campos e botões do formulário */
.form-control, .btn-block {
    border-radius: 0.3125rem; /* 5px */
}

/* Estilo para botões de largura total */
.btn-block {
    margin-top: 1rem;
    width: 100%; 
}

/* Ajusta o espaçamento entre os botões do formulário */
form.mt-3 {
    margin-top: 1rem; 
}

/* Estilo personalizado para o botão primário */
.btn-custom-primary {
    background-color: #1D826E;
    color: #fff;
    border: none;
    font-weight: 500;
}

/* Estilo personalizado para o botão secundário */
.btn-custom-secondary {
    background-color: #333333;
    color: #fff;
    border: none;
    font-weight: 500;
}

/* Estilo para o botão primário ao passar o mouse */
.btn-custom-primary:hover {
    background-color: #d0a700;
    color: black;
    font-weight: 500;
}

/* Estilo para o botão secundário ao passar o mouse */
.btn-custom-secondary:hover {
    background-color: #d0a700;
    color: black;
    font-weight: 500;
}

/* Estilo para o alinhamento dos botões */
.alinha_botao {
   justify-content: center;
}

/* Estilo para o placeholder dos campos de formulário */
.form-control::placeholder {
    font-size: 0.875rem; 
    color: #aaa; 
}

/* Media Queries para responsividade */
@media (max-width: 48rem) { /* Aproximadamente 768px */
    .container-form, .container-form-login {
        max-width: 95%; /* Aumentei a largura para ocupar mais espaço em telas pequenas */
        padding: 1.5rem;
    }

    .login-title .logo, .cadastro-page .logo {
        width: 90%;
    }
}

@media (max-width: 30rem) { /* Aproximadamente 480px */
    .login-title h1, .cadastro-page h1 {
        font-size: 1.5rem;
    }
    
    .login-title .logo, .cadastro-page .logo {
        width: 100%;
    }

    .container-form, .container-form-login {
        max-width: 80%; /* Removei as margens laterais no celular para aproveitar o espaço */
        padding: 1rem;
    }
}
