/* CSS Geral */
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* Base 1rem = 16px */
}

body {
  background: radial-gradient(circle at center, #1D826E, #145E4A, #0D3B2E);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: auto;
}

.login-title {
  margin-top: 6.25rem;
  margin-bottom: 1rem;
  text-align: center;
}

.login-title .logo {
  width: 100%;
  max-width: 40rem;
  height: auto;
  margin-bottom: 4rem;
}

.btn-voltar {
  margin-top: 1rem;
}

.login-title h1 {
  color: #ffffff;
  font-weight: 700;
}

.btn-custom-primary {
  background-color: #28a745;
  color: #ffffff;
  border-radius: 1.25rem;
  width: 11.25rem;
  display: inline-block;
  margin: 0 auto;
  padding: 0.625rem 1.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container-form {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

.btn-custom-primary:hover {
  background-color: #fff;
  color: #28a745;
}

.section-title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
}

.section-title h2 {
  font-weight: 700;
}

.custom-container {
  max-width: 31.25rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.125rem;
  box-sizing: border-box;
}

body::after {
  content: "";
  display: block;
  height: 0.0625rem;
}

.custom-input {
  display: block;
  width: 100%;
  margin-bottom: 0.625rem;
  padding: 0.75rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ccc;
  box-sizing: border-box;
}

.custom-input::placeholder {
  font-size: 0.875rem;
  color: #aaa;
}

.botao-cadastrar {
  background-color: #1D826E;
  color: #fff;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.75rem;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.botao-cadastrar:hover {
  background-color: #d0a700;
  color: black;
  font-weight: 500;
}

/* Adaptações para Navbar */
.navbar-custom {
  background-color: transparent;
  padding: 0.625rem;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-brand img {
  height: 2.5rem;
}

/* Ajustes gerais */
.titulo-campo {
  display: block;
  margin-bottom: 0.3125rem;
  font-weight: bold;
  color: #333333;
}

input[type="file"] {
  display: block;
  width: 100%;
  margin-top: 0.625rem;
}

input[type="submit"] {
  background-color: #1D826E;
  color: #fff;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.75rem;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #d0a700;
  color: black;
  font-weight: 500;
}

/* Estiliza o formulário para ter uma largura maior e centralizar */
.formulario-edicao {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 1.25rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
}

/* Estiliza os campos do formulário */
.formulario-edicao .custom-input {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.9375rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #ccc;
}

/* Estilo para o botão de salvar edições */
.botao-salvar-edicoes {
  background-color: #28a745;
  color: #fff;
  border: none;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
  box-sizing: border-box;
  margin-top: 0.625rem;
}

.botao-salvar-edicoes:hover {
  background-color: #034a17;
  color: #ffffff;
}

/* Media Queries */
@media (max-width: 768px) {
  .login-title {
    margin-top: 4rem;
  }

  .login-title .logo {
    width: 100%;
    max-width: 40rem;
  }

  .custom-container {
    padding: 1rem;
  }

  .btn-custom-primary {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .login-title {
    margin-top: 3rem;
  }

  .login-title h1 {
    font-size: 1.5rem;
  }

  .custom-input {
    font-size: 0.875rem;
  }
}