/* Navbar */
.navbar-custom {
  background-color: #145c50;
}

body {
  font-family: 'Poppins', sans-serif; /* Aplicar a fonte Poppins ao corpo */
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#demo{
  padding-top: 6.625rem;
}

/* Carousel */
.carousel-image {
  aspect-ratio: 16/9;
  object-fit: cover;
  filter: brightness(50%);
}

/* Títulos personalizados */
.custom-title {
  position: relative;
  font-size: 2rem;
  text-align: center;
  margin: 7vh 10vw 7vh;
  display: inline-block; /* Ajusta a linha ao comprimento do texto */
  font-weight: 500;
}

.custom-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Ajuste a distância entre o texto e a linha */
  width: 100%;
  height: 3px;
  background-color: #145c50; /* Cor da linha */

}

.whatsapp{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 3vw;
  width: 11vw;
  height: 5vh;
  font-size: 16px;
}

.whatsapp-link {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit; /* Herda a cor do botão, que deve ser branca ou outra cor desejada */
}


.icon-spacing {
  margin-right: 0.4vw; /* Ajuste o valor conforme necessário */
}

/* Container de produtos */
.produtos-container {
  max-width: 100vw; /* Ajuste conforme necessário */
  justify-content: center;
  display: flex;
}

.produtos-row {
  display: flex;
  flex-wrap: wrap; /* Garante que os cards quebrem para a linha seguinte se necessário */
  justify-content: center;
}


/* Espaçamento adicional entre as seções */
.produtos-container {
  margin-bottom: 2vh;
}

.catalogo {
  margin-bottom: 40vh;
}

/* Contêiner principal do catálogo */
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte se necessário */
  gap: 20px; /* Espaçamento entre os cards */
}

/* Defina o tamanho fixo para as colunas */
.col {
  flex: 0 1 240px; /* Largura fixa das colunas */
  box-sizing: border-box;
}

/* Card */
.card.custom-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  width: 100%; /* Garante que o card ocupe toda a largura da coluna */
  height: 100%; /* Define uma altura fixa para todos os cards */
  display: flex;
  flex-direction: column;
}

.card.custom-card img {
  width: 100%;
}

.custom-card-body {
  padding: 15px;
  flex: 1; /* Faz com que o corpo do card expanda para preencher o espaço disponível */
}

.custom-card-title {
  font-size: 18px;
  margin: 10px 0;
}

.custom-card-text {
  font-size: 14px;
  color: #666;
}

.btn.btn-primary {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  margin-top: auto; /* Move o botão para o final do card */
}

#entrega {
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-top: 20px;
}

/* Media Queries para Responsividade */

/* Para telas menores que 1200px (como tablets em modo paisagem) */
@media (max-width: 1200px) {
  .col {
    flex: 0 1 200px; /* Ajusta a largura das colunas */
  }
}

/* Para telas menores que 992px (como tablets em modo retrato) */
@media (max-width: 992px) {
  .col {
    flex: 0 1 150px; /* Ajusta a largura das colunas */
  }
}

/* Para telas menores que 768px (como smartphones em modo paisagem) */
@media (max-width: 768px) {
  .col {
    flex: 0 1 100%; /* 1 coluna por linha */
  }
}

/* Container da empresa */

/* Layout do contêiner de informações da empresa */
.company-container {
  margin-bottom: 40px; /* Espaço entre a seção e o mapa */
  max-width: 100vw;
}

/* Estilo para o wrapper que contém as duas caixas */
.company-info-wrapper {
  display: flex;
  gap: 20px; /* Espaçamento entre as caixas */
}

/* Estilo para a caixa de informações da empresa */
.company-info-box {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
}

.company-info-box h2{
  margin-bottom: 10px;
}

/* Estilo para a caixa de contatos */
.contatos-box {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: right;
  padding: 40px; /* Aumenta o padding para adicionar um pouco mais de espaço */
  flex: 1; /* Faz com que a caixa de contatos ocupe o espaço disponível */
  display: flex;
  flex-direction: column; /* Organiza os itens em uma coluna */
  justify-content: center; /* Alinha verticalmente no centro */
}

.contatos-box .contato a {
  color: inherit; /* Herda a cor do elemento pai, removendo a cor azul padrão */
  text-decoration: none; /* Remove o sublinhado do link */
  transition: color 0.3s; /* Adiciona uma transição suave para a cor ao passar o mouse */
}

/* Estilo para o link quando o mouse passa sobre ele */
.contatos-box .contato a:hover h6{
  color: #ced500; /* Muda a cor do link para verde quando o mouse passa sobre ele */
}

/* Ajusta o layout das colunas em telas menores */
@media (max-width: 992px) {
  .company-info-wrapper {
    flex-direction: column;
  }
}

/* Layout do contêiner de informações e contatos */
.company-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

.company-info .faixada {
  flex: 1;
}

.company-info .info-text {
  flex: 2;
}

.company-info .contatos {
  flex: 1;
  margin-top: 20px; /* Espaço acima dos contatos */
}

/* Imagem da fachada */
.img-faixada {
  width: 100%;
  height: auto;
  max-width: 100%; /* Ajuste para se adaptar ao tamanho da coluna */
}

/* Estilo para a imagem da fachada para garantir que ela se ajuste ao layout */
.faixada {
  margin-bottom: 20px; /* Espaçamento inferior para separar a imagem do texto */
}

/* Ajustes adicionais para o título */
h2, .section-contact h3 {
  margin: 0; /* Remove a margem padrão para melhor controle do espaçamento */
}


@media (max-width: 768px) {
  .company-info {
    flex-direction: column;
  }

  .company-info .faixada {
    margin-bottom: 20px;
  }
}

.info-text p {
  text-align: justify;
}

/* Remove margens e preenchimentos específicos do mapa */
.mapa-container {
  margin: 0;
  padding: 0;
}

/* Mapa */
.mapa-container {
  margin: 0; /* Remove margens extras ao redor do contêiner do mapa */
  padding: 0; /* Remove preenchimento extra ao redor do contêiner do mapa */
}

.mapa {
  width: 100%; /* Ajusta a largura para 100% do contêiner pai */
  height: 30vh; /* Altura do mapa */
  overflow: hidden;
}

/* Corrige o alinhamento do iframe dentro do mapa */
.mapa iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block; /* Remove espaços extras ao redor do iframe */
}

.contatos{
  text-align: right;
}

.contatos h3 {
  border-bottom: 2px solid #008000; /* Linha fina verde */
  padding-bottom: 5px; /* Espaço entre o texto e a linha */
  margin-bottom: 10px; /* Espaço entre a linha e o conteúdo abaixo */
  display: inline-block; /* Ajusta a linha ao comprimento do texto */
}


.contatos p {
    margin: 0; /* Remove a margem padrão */
}
  
.contatos p + p {
  margin-top: 5px; /* Ajuste o valor conforme necessário */
}


/* Rodapé */
#footer {
  background: #e1bd00;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

#footer .footer-top {
  background: #145c50;
  border-bottom: 1px solid #222;
  padding: 30px 0;
}

#footer .footer-info,
#footer .footer-contact {
  margin-bottom: 20px; /* Ajusta o espaçamento inferior das colunas */
}

#footer .footer-info h3 {
  font-size: 1.75rem;
  margin: 0;
}

#footer .footer-contact h4 {
  margin-bottom: 10px; /* Adiciona espaçamento entre o título e o texto */
}


.footer-contact {
  display: flex;
  flex-direction: column; /* Para alinhar o título e os ícones verticalmente */
  align-items: center; /* Alinha horizontalmente no centro */
  text-align: center; /* Centraliza o texto do título */
}

.social-links {
  display: flex;
  gap: 15px;
  justify-content: center; /* Centraliza os ícones horizontalmente */
  margin-top: 10px; /* Adiciona um espaço entre o título e os ícones */
}

.social-icon {
  font-size: 24px;
  color: #e1bd00;
  display: inline-block;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #fff;
}


.copyright {
  text-align: center;
  padding: 10px;
}

/* Adiciona um espaço uniforme entre as colunas do rodapé */
@media (min-width: 768px) {
  #footer .footer-top .col-lg-3 {
    margin-bottom: 0; /* Remove a margem inferior para telas grandes */
  }
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.menu-icon i {
  font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
  color: white;    /* Ajuste a cor do ícone conforme necessário */
  margin-left: 1vw;
  margin-right: 1vw;
}


.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.3s;
}

.menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu .user-name {
  margin-bottom: 10px;
  font-weight: bold;
}

.dropdown-content {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content .dropdown-item {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.dropdown-content .dropdown-item:hover {
  background-color: #555;
}

.menu.show {
  display: block;
}
